.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #b7dbf1;
}

h1 {
  margin: 30px;
  font-family: 'Oleo Script', cursive;
  text-shadow: 5px 0 #172e4d;
  font-size: 8rem;
  color: #1f4474;
}

p {
  font-size: 2rem;
  color: #2e745b;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #b50707;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
